.main_home_search {
  height: 100vh;
  width: 100%; }
  .main_home_search form#searchform h1 {
    color: #fff;
    padding: 30px 0px;
    font-family: 'Oxygen'; }
  .main_home_search .home_inner_background {
    background-color: rgba(16, 28, 29, 0.4); }
    .main_home_search .home_inner_background .searchform .form-control {
      width: auto; }
  .main_home_search input#searchsubmit {
    background-color: #b1b966;
    border: none;
    color: #fff;
    padding: 0px 30px;
    height: 50px;
    box-shadow: none;
    text-transform: uppercase;
    font-family: 'Oxygen';
    font-weight: bold;
    letter-spacing: 1px;
    transition: ease all .25s;
    -moz-transition: ease all .25s;
    -webkit-transition: ease all .25s; }
    .main_home_search input#searchsubmit:hover {
      background-color: #9da000;
      transition: ease all .25s;
      -moz-transition: ease all .25s;
      -webkit-transition: ease all .25s; }
  .main_home_search input#s {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    box-shadow: none;
    padding: 10px;
    height: 50px;
    border-radius: 6px;
    font-weight: bold;
    width: 100%; }
    .main_home_search input#s::-webkit-input-placeholder {
      color: #058e98; }
    .main_home_search input#s:-moz-placeholder {
      color: #058e98; }
    .main_home_search input#s::-moz-input-placeholder {
      color: #058e98; }
    .main_home_search input#s:-ms-input-placeholder {
      color: #058e98; }
  .main_home_search select {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    height: 50px;
    color: #058e98;
    font-weight: bold; }
  .main_home_search input[type="text"] {
    color: #058e98 !important; }
  .main_home_search input[type="email"] {
    color: #058e98 !important; }
  .main_home_search .select_home {
    float: left !important; }
    .main_home_search .select_home .btn {
      padding: 15px; }
    .main_home_search .select_home:before {
      content: 'in';
      position: absolute;
      left: -8px;
      vertical-align: middle;
      top: 50%;
      margin-top: -10px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold; }
  .main_home_search button.btn.dropdown-toggle.btn-default {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    color: #058e98;
    font-weight: bold;
    box-shadow: none; }
  .main_home_search .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8); }
  .main_home_search .dropdown-menu.open .popover-title {
    background-color: #058e98;
    border: none;
    color: #fff; }
  .main_home_search .dropdown-menu.open li a {
    color: #058e98;
    font-weight: bold;
    padding: 9px 20px; }
    .main_home_search .dropdown-menu.open li a:hover span {
      color: #005357; }
    .main_home_search .dropdown-menu.open li a:active span {
      color: #005357; }
    .main_home_search .dropdown-menu.open li a:focus span {
      color: #005357; }
  .main_home_search .dropdown-menu.open li .selected span {
    color: #005357; }

.utils_mobile {
  padding: 0px !important; }

.parallax-mirror {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.quicksearch_page .filter_search {
  display: block !important;
  position: relative;
  width: 100%;
  top: 0px; }

/*# sourceMappingURL=home.css.map */
